body {
  background-image: url(image/Rectangle\ 1.png);
}

.navbar {
  background-image: url(image/Rectangle\ 2.png);
}
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: medium;
}

.btn {
  border-radius: 8px;
  color: #fff;
}

.title {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.des {
  font-family: "Poppins", sans-serif;
  color: rgb(182, 176, 176);
  margin-top: 20px;
  font-weight: 200;
}

/* .heroimg {
  max-width: 415px;
  max-height: 400px;
} */

#btn1 {
  background-color: #f49d11;
}

#btn1:hover {
  background-color: #b97a15;
  color: #fff;
}

.tv {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #fff;
  background-image: url(image/Rectangle\ 8.png);
  border-radius: 10px;
  max-width: fit-content;
  max-height: fit-content;
  margin-bottom: 5px;
}

#view {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.vidtv {
  border-radius: 10px;
}
